<div id='spatialSearchMap'> 
</div>

<div class="spatialSearchMainRow">

	<div>
		Current Latitude: 
	</div>
	
	<div>
		<input type="text" value="" id='spatialSearchLatField'/>
	</div>
	
	<div>
		Current Longtitude: 
	</div>
	
	<div>
		<input type="text" value="" id='spatialSearchLonField'/>
	</div>
			
	
	<div>
		List of Selected Locations:
	</div>
	
	
	<div id='spatialSearchListBox'>
    </div>
    
	<div>
		<input type="button" value="Update Location on Map" id='spatialSearchUpdateButton' />
	</div>
	
	<div>
		<input type="button" value="Add Location to List" id='spatialSearchAddButton' />
	</div>
	
	<div>
		<input type="button" value="Remove Location from List" id='spatialSearchRemoveButton' />
	</div>
	
	<div>
		<input type="button" value="Submit Search to Geodex.org" id='spatialSearchSubmitButton' />
	</div>

</div>