@CHARSET "UTF-8";

#infoView{
	width: 1000px;
	margin: 0 auto; 
}

.infoViewPanel{
	margin-top: 30px;
	display: grid;
	grid-row-gap: 15px;
	grid-column-gap: 5px;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
}