@CHARSET "UTF-8";

#textSearchInputView{
	width: 800px;
	margin: 0 auto; 
}

.textSearchInputPanel{
	display: grid;
	grid-row-gap: 15px;
	grid-column-gap: 5px;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
}

.textSearchInputPanel1{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 200px 200px 200px 200px;
	grid-template-rows: auto;
}

.textSearchInputValueLabel{
	margin-top: 7px;
	font-size: 13px; 
	font-family: Verdana; 
	text-align: right;
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 1;
  	grid-row-end: 2;
}

.textSearchInputValueField{
	grid-column-start: 2;
  	grid-column-end: 5;
  	grid-row-start: 1;
  	grid-row-end: 2;
}

.textSearchInputPanel2{

}

.textSearchInputPanel3{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.textSearchInputSubmitButton{
	grid-column-start: 1;
  	grid-column-end: 2;
}