@CHARSET "UTF-8";

#main{
	width: 1000px;
	margin: 0 auto; 
}

/*Text Search Components CSS*/
.textSearchPanel{
	display: grid;
	grid-row-gap: 15px;
	grid-column-gap: 5px;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
}

.textSearchPanel1{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 250px 250px 250px 250px;
	grid-template-rows: auto;
}

.textSearchValueLabel{
	margin-top: 7px;
	font-size: 13px; 
	font-family: Verdana; 
	text-align: right;
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 1;
  	grid-row-end: 2;
}

.textSearchValueField{
	grid-column-start: 2;
  	grid-column-end: 5;
  	grid-row-start: 1;
  	grid-row-end: 2;
}

.textSearchPanel2{

}

.textSearchPanel3{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.textSearchSubmitButton{
	grid-column-start: 1;
  	grid-column-end: 2;
}

/*Spatial Search Components CSS*/

#spatialSearchMap { 
	width: 1000px; 
	height: 600px; 
}

/*Master level grid container*/
.spatialSearchPanel{
	display: grid;
	grid-row-gap: 15px;
	grid-column-gap: 5px;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
}

/*Middle panel grid container*/
.spatialSearchPanel1{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 500px 500px;
	grid-template-rows: auto auto auto auto;
}

.spatialSearchLatLabel{
	margin-top: 10px;
	font-size: 13px; 
	font-family: Verdana; 
	text-align: left;
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 1;
  	grid-row-end: 2;
}

.spatialSearchLatField{
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 2;
  	grid-row-end: 3;
}

.spatialSearchLonLabel{
	margin-top: 10px;
	font-size: 13px; 
	font-family: Verdana; 
	text-align: left;
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 3;
  	grid-row-end: 4;
}

.spatialSearchLonField{
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 4;
  	grid-row-end: 5;
}

.spatialSearchListLabel{
	margin-top: 10px;
	font-size: 13px; 
	font-family: Verdana; 
	text-align: left;
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 1;
  	grid-row-end: 2;
}

.spatialSearchListBox{
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 2;
  	grid-row-end: 5;
}

.spatialSearchPanel2{
	display: grid;
	grid-row-gap: 15px;
	grid-column-gap: 5px;
	grid-template-columns: 333px 333px 334px;
	grid-template-rows: auto;
}

.spatialSearchUpdateButton{
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 1;
  	grid-row-end: 2;		
}

.spatialSearchAddButton{
	grid-column-start: 2;
  	grid-column-end: 3;
	grid-row-start: 1;
  	grid-row-end: 2;	
}

.spatialSearchRemoveButton{
	grid-column-start: 3;
  	grid-column-end: 4;
	grid-row-start: 1;
  	grid-row-end: 2;	
}

.spatialSearchPanel3{

}

.spatialSearchPanel4{
	display: grid;
	grid-row-gap: 15px;
	grid-column-gap: 5px;
	grid-template-columns: 1000px;
	grid-template-rows: auto;
}

.spatialSearchSubmitButton{
	grid-column-start: 1;
  	grid-column-end: 2;
	grid-row-start: 1;
  	grid-row-end: 2;	
}